[data-main-scroll] {
  position: fixed;
  will-change: transform;
}

[data-bg-zoom] {
  overflow: hidden;
}

[data-line-reveal] {

  div {
	overflow: visible;
	font-weight: inherit;
	line-height: inherit;
  }
  span {
	font-weight: inherit;
	line-height: inherit;
  }
}

.the-image {
  position: relative;
  &__curtain {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background: #000000;
	transform: scaleX(0);
	transform-origin: left;
  }
}