[data-main-scroll] {
  position: fixed;
  will-change: transform;
}

[data-bg-zoom] {
  // overflow: hidden;
}

[data-line-reveal] {

  div {
	overflow: visible;
	font-weight: inherit;
	line-height: inherit;
  }
  span {
	font-weight: inherit;
	line-height: inherit;
  }
}

[data-reveal-image] {
  --clip: 0%;
  clip-path: inset(0% var(--clip) 0% 0%);
  //&__curtain {
	//position: absolute;
	//top: 0;
	//left: 0;
	//right: 0;
	//bottom: 0;
	//z-index: 1;
	//background: #000000;
	//transform: scaleX(0);
	//transform-origin: left;
  //}
}

.cursor {
  position: fixed;
  top: 40px;
  left: 40px;
  width: .6875vw;
  height: .6875vw;
  background: #FF4409;
  z-index: 1000;
  border-radius: 100%;
  pointer-events: none;
  transform: scale(0);

  &__ball {

  }
}