.about {
  background: black;
  color: white;

  &-intro {
    position: relative;
    padding: 55vw 0 10vh;

    @include minTablet{
      padding: 20vw 0 10vh;
    }

    h1 {
      position: relative;
      text-transform: uppercase;
      font-size: rem(26);
      font-family: $font;
      font-weight: 300;
      text-align: left;
      z-index: 1;
      max-width: calc(18 / 20 * 100vw);
      margin-left: calc(1 / 20 * 100vw);
      display: flex;
      flex-direction: column;

      .color--red {
        font-family: $fontTitle;
      }

      span {
        &:last-child {
          @include minDesktop {
            margin-bottom: rem(70);
          }
        }
      }

      @include minMobile {
        font-size: rem(35);
        margin-left: calc(1 / 20 * 100vw);
        width: 60vw;
      }

      @include minTablet {
        font-size: 3.8vw;
        margin-left: calc(2 / 23 * 100vw);
        width:  50vw;
      }
      
      @include minLaptop {
        width: calc( 13 / 23 * 100vw);
      }

      @include minDesktop {
        margin-left: calc(1 / 23 * 100vw);
        width: 55vw;
      }
    }

    &-image {
      position: absolute;
      top: 3.7vw;
      right: 0;
      z-index: 0;
      width: 100%;

      img {
        width: 100%;
      }

      .mobile {
        @include minLaptop {
          display: none;
        }
      }

      .desktop {
        @include laptop {
          display: none;
        }
      }
    }
  }

  &-experience {
    margin-top: rem(80);

    h2 {
      margin-top: 0;
      margin-bottom: rem(28);
      font-weight: 100;
      font-family: $fontTitle;
    }
    
  }

  &-bio {
    @include minMobile {
      margin-top: 10vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @include minTablet {
      display: block;
    }

    p {
      line-height: 1.66;
      font-size: rem(18);
      font-weight: 400;
      font-family: $font;

      &:not(:last-child) {
        margin-bottom: rem(40);
      }

      @include minTablet {
        font-size: 1.2vw;
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;

      @include minMobile {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 5vw;
      }

      // @include minTablet {
      //   width: 100%;
      // }
      
    }

    &-intro {
      margin-left: calc(1 / 20 * 100vw);
      width: calc(18 / 20 * 100vw);


      @include minTablet {
        margin-left: calc(1 / 23 * 100vw);
        width: calc(10 / 23 * 100vw);
      }

      @include minLaptop {
        margin-left: calc(1 / 23 * 100vw);
        width: calc(10 / 23 * 100vw);
      }

      p {
        @include minTablet {
          margin-left: calc(1 / 23 * 100vw);
        }
        
        @include minLaptop {
          margin-left: calc(1 / 23 * 100vw);
        }
      }
    }

    &-image {
      @include tablet {
        order: -1;
      }

      @include minMobile {
        width: 100%;
      }

      @include minTablet {
        width: calc(50% - 46px);

        &-wrap {
          height: 100%;
          display: flex;

          img {
            width: 100%;
          }
        }
      }

      @include minLaptop {
        width: calc(50% - 56px);
      }

      @include minDesktop {
        width: calc(50% - 70px);
      }
    }

    &-description {
      position: relative;
      margin-left: calc(1 / 23 * 100vw);
      width: calc(18 / 23 * 100vw);

      .container {
        position: relative;
        @include minMobile {
          padding-left: 0;

          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: calc(-1 / 23 * 100vw - 2vw);
            height: 100%;
            width: 1px;
            background: white;
            opacity: 0.3;
          }
        }

        @include minTablet {
          padding-left: 2vw;
          column-count: 2;
          column-gap: calc(2 / 23 * 100vw);
          margin-left: calc(1 / 23 * 100vw);
          width: calc(19 / 23 * 100vw);

          &:after {
            left: 050%;
            transform: translateX(-50%);
          }
        }

        @include minDesktop {
          width: calc(19 / 23 * 100vw);
        }
      }

      p:last-child {
        margin-bottom: rem(0);
      }

      @include minMobile {
        width: calc(50% - 38px);
        margin-left: 0
      }

      @include minTablet {
        width: calc(18 / 23 * 100vw + 2vw);
        margin-left: calc(1 / 23 * 100vw);

      //   &:after {
      //     content: "";
      //     position: absolute;
      //     top: 0%;
      //     left: 050%;
      //     transform: translateX(-50%);
      //     height: 100%;
      //     width: 1px;
      //     background: white;
      //     opacity: 0.3;
      //   }
      }

      // @include minDesktop {
      //   width: calc(18 / 23 * 100vw + 2vw);
      // }
    }

    &-image-mobile {
      display: none;
      margin-bottom: rem(20);

      @include minMobile {
        display: block;
      }
      @include minTablet {
        display: none;
      }
    }
  }

  &-values {
    @include tablet {
      margin-top: 10vh;
    }

    @include minTablet {
      margin-left: calc(1 / 23 * 100vw);
    }

    h2 {
      margin-bottom: rem(42);
    }

    &-list {
      margin: 0;
      list-style: none;
      padding: 0 0 0 rem(25);
      border-left: 1px solid white;

      
      li {
        font-family: $fontTitle;
        font-size: rem(28);
        
        &:not(:last-child) {
          margin-bottom: rem(10);
        }

        @include minTablet {
          font-size: 2vw;
        }
      }
    }
  }

  .tagline {
    text-transform: uppercase;
    letter-spacing: 0.7em;
    font-size: rem(14);
    font-weight: 600;

    @include minTablet {
      font-size: 1vw;
    }
  }

  &-quote {
    position: relative;
    z-index: 2;
    margin: 10vh 0 0;

    @include minLaptop {
      margin-top: 25vh;
    }

    blockquote {
      position: relative;
      padding: 0;
      margin: 0;
      padding: 0 calc(1 / 20 * 100vw) 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        position: relative;
         text-transform: uppercase;
         font-size: rem(26);
         line-height: 1.6;
         margin: 0;
         font-family: $fontTitle;

         &:first-child {
          &:before {
            content: "\"";
            position: absolute;
            top: 0;
            left: 0;
            font-size: rem(48);
            font-family: $fontTitle;
            color: white;
            transform: translate(-100%, -20%) translateX(-1vw) rotate(-25deg);
        
            @include minTablet {
              font-size: 5vw;
            }
          }
         }

        //  max-width: 70vw;
          &:last-child {
            margin-left: 10%;
            &:before {
              content: "\"";
              position: absolute;
              bottom: 0;
              right: 0;
              font-size: rem(48);
              font-family: $fontTitle;
              color: white;
              transform: translate(100%, 50%) translateX(1vw) rotate(25deg);
          
              @include minTablet {
                font-size: 5vw;
              }
            }
          }

         @include minMobile {
          font-size: rem(35);
         }

         @include minTablet {
          font-size: 4.2vw;
          // max-width: 45vw;
          line-height: 1.2;
          &:last-child {
            margin-left: 20%;
          }
         }
         .color--red {
          font-family: $font;
         }
      }
    }
  }

  &-story,
  &-experience {
    h2 {
      text-transform: uppercase;
      font-size: rem(26);

      @include minMobile {
        font-size: rem(35);
      }
      @include minTablet {
        font-size: 4vw;
        line-height: 1;
      }
    }
  }

  &-story {
    position: relative;
    padding-top: 35vh;
    margin-bottom: 10vh;
    z-index: 1;

    @include minTablet {
      padding-top: 50vh;
      padding-bottom: 0;
    }

    @include minDesktop {
      padding-top: 30vw;
    }

    h2 {
      display: flex;
      flex-direction: column;
      font-family: $fontTitle;
      font-weight: 300;
      margin-bottom: rem(40);

      span {
        font-family: $fontTitle;

        &:first-child {
          font-family: $font;
        }
      }

      @include minDesktop {
        margin-top: 0;
        margin-bottom: 10vh;
      }

      &:first-child {
        font-family: $font;
      }
    }

    &-image {
      position: absolute;
      top: 0;
      left: 50%;
      width: 200vw;
      transform: translate(-50%, -0%);
      opacity: 0.8;

      @include minMobile {
        transform: translate(-50%, -15%);
      }

      @include minTablet {
        width: 100%;
        transform: none;
        left: 0;

        img {
          width: 100%;
        }
      }
    }

    .content {
      position: relative;
      z-index: 2;
      margin-left: calc(1 / 20 * 100vw);
      width: calc(18 / 20 * 100vw);
      padding-bottom: rem(180);

      @include minMobile {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      @include minTablet {
        padding-bottom: 12vw;
      }

      @include minLaptop {
        margin-left: calc(6 / 23 * 100%);
        width: calc(17 / 23 * 100%);
        padding-bottom: 0;
      }
    }

    &-left {
      @include minDesktop {
        width: calc( 8 / 17 * 100% );

        p {
          margin-left: calc(2 / 17 * 100%);
        }
      }
      @include minMobile {
        width: calc(50% - 38px);
      }

      @include minTablet {
        width: calc(50% - 46px);
      }
    }

    &-right {
      position: relative;

      &:after {
        @include minMobile {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 1px;
          height: 100%;
          background: white;
          transform: translateX(-55px);
          opacity: 0.3;
        }

        @include minLaptop {
          transform: translateX(-46px);
        }

        @include minDesktop {
          transform: translateX(-4.5vw);
        }
      }
      
      @include minMobile {
          width: calc(50% - 38px);
      }
      @include minTablet {
        width: calc(50% - 46px);
      }
      @include minDesktop {
        margin-top: rem(50);
        width: calc( 7/ 17 * 100% );
      }
    }

    &-btn {
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: 9;
      transform: translate(-50%, 25%);

      @include minLaptop {
        left: calc(2 / 23 * 100vw);
        transform: translateY(-50%);
      }
    }

    p {
      line-height: 1.66;
      font-size: rem(18);
      font-weight: 400;
      font-family: $font;
      margin-top: 0;

      @include minTablet {
        font-size: 1.2vw
      }

      &:not(:last-child) {
        margin-bottom: rem(40);
      }
    }
  }

  &-more {
    position: relative;
    background: $orange;
    overflow: hidden;
    
    @include minMobile{
      margin: 0px auto;
      width: calc(18 / 20 * 100vw);
    }

    @include minLaptop{
      margin: 0px auto;
      width: calc(19 / 23 * 100vw);
    }

    h2 {
      font-weight: 300;
    }

    &-content {
      padding: rem(66) rem(26);

      @include minTablet {
        padding: rem(72) 0 rem(72) rem(115);
      }

      h2 {
        font-size: rem(26);
        margin: rem(34) 0;
        text-transform: uppercase;
        font-family: $fontTitle;
        line-height: 1.6;

        @include minMobile {
          font-size: rem(35);
        }
        @include minTablet {
          font-size: 4vw;
        }
      }
    }
    
    &-image {
      position: absolute;
      top: 0;
      left: 0%;
      height: 100%;
      width: 100%;
      display: flex;

      img {
        object-fit: cover;
      }

      @include minMobile {
        transform: translateX(25%);
        
      }

      @include minLaptop {
        left: auto;
        right: 0;
        height: 100%;
        width: auto;
        transform: none;

        img {
          object-fit: contain;
        }
      }
    }

    &-btn {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      z-index: 5;

      a.btn {
        padding: rem(20);
        font-size: rem(18);
        letter-spacing: .1em;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        border-radius: rem(42);
        border: 0;
        text-decoration: none;

        svg {
          margin-left: rem(25);
        }

        @include minTablet {
          font-size: 1.2vw;
        }
      }
    }
  }
}


@keyframes grow {
  0%{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  15% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.25);
  }

  45% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2);
  }

  50% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
}