.banner {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  // min-height: 100vh;
  padding: 10vh 0;
  background: black;
  text-align: center;

  @media (min-width: 1024px) {
    min-height: 100vh;
  }
  &_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    &--empty, &--red {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transform: scaleY(1.4);
    }
    &--empty {
      clip: rect(auto auto 100vh auto);
    }
    &--bottom, &--top {
      position: absolute;
      z-index: 1;
      height: 14vh;
      width: 100%;
      background: #000000;
    }
    &--top {
      top: 0;
      transform-origin: top;
    }
    &--bottom {
      bottom: 0;
      transform-origin: bottom;
    }
  }

  h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 35px;
    line-height: 1;
    letter-spacing: rem(-0.7);
    font-family: $font;
    font-weight: 300;
    text-transform: uppercase;
    width: 40vw;
    margin: 0px auto;
    color: white;

    @media (min-width: 1024px) {
      font-size: 4.5vw;
    }

    div {
      font-weight: 400;
      display: inline-block;
    }
  }
}