.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: black ;
  text-align: center;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  h1 {
    font-size: 4.5vw;
    line-height: 1;
    letter-spacing: rem(-0.7);
    font-family: $font;
    font-weight: 300;
    text-transform: uppercase;
    width: 40vw;
    margin: 0px auto;

    span {
      font-weight: 400;
    }
  }

}