.contact {
  background: black;
  color: white;

  h1 {
    font-size: rem(26);
    font-family: $font;
    font-weight: 300;
    text-transform: uppercase;
    max-width: 90%;

    @include minMobile {
      font-size: rem(35);
    }

    @include minTablet {
      font-size: 4.6vw;
    }

    .color--red {
      font-family: $fontTitle;
    }
  }

  &-intro {
    position: relative;
    padding: 10vh 0 10vh; 

    @include minMobile {
      padding: 25vh 0 0;
    }

    .tagline {
      text-transform: uppercase;
      font-size: rem(14);
      letter-spacing: 0.7em;
      margin-bottom: rem(30);
      font-weight: bold;

      @include minTablet {
        font-size: 1vw
      }
    }

    &-image {
      position: relative;
      @include mobile {
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 50%;
          background: linear-gradient(rgba(0, 0, 0, 0), black);
          z-index: 1;
        }
      }

      @include minMobile {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 0;
        transform: translateY(-50%) translateX(-45%);
        width: rem(550);
      }

      @include minTablet {
        transform: translateY(-50%);
        width: 45vw;

        img {
          width: 100%;
        }
      }
    }

    &-text {
      position: relative;
      z-index: 10;
      max-width: calc(18 / 20 * 100vw);
      margin-left: calc(1 / 20 * 100vw);

      @include minMobile {
        max-width: calc(12 / 20 * 100vw);
        margin-left: calc(7 / 20 * 100vw);
      }
      @include minTablet {
        max-width: 30vw;
        margin-left: 50vw;
      }
    }

    &-description {
      font-size: rem(22);
      line-height: 1.6;
      font-family: $fontTitle;
      padding-left: calc(1 / 18 * 100vw);
      position: relative;

      @include minMobile {
        font-size: rem(26);
      }

      @include minTablet {
        font-size: 1.6vw;
        padding-left: calc(1 / 23 * 100vw);
      }

      &:after {
        content: "";
        position: absolute;
        width: 1px;  
        height: 100%;
        background: white;
        top: 0;
        left: 5px;
        z-index: 2;
      }
    }
  }

  &-wrap {
    padding: 0vh 0 10vh;

    @include minMobile {
      padding: 10vh 0;
    }
    @include minTablet {
      display: flex;
      flex-wrap: wrap;
      padding: 25vh 0;
    }
  }

  &-form {
    width: calc(18 / 20 * 100%);
    margin-left: calc(1 / 20 * 100%);
    margin-top: 10vh;
    
    @include minTablet {
      width: calc( 10 / 23 * 100%);
      margin-left: calc( 2 / 23 * 100%);
      order: -1;
      margin-top: 0;
    }

    .with_frm_style {
      input[type="text"],
      input[type="tel"],
      input[type="email"],
      select,
      textarea {
        background: none;
        border: 0;
        border-radius: 0;
        appearance: none;
        font-size: 1rem;
        color: white;
        border-bottom: 1px solid white;
        height: rem(50);
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        outline: 0 !important;
        box-shadow: none;

        @include minTablet {
          font-size: 1vw;
        }
        
        &::placeholder{
          color: white !important;
          opacity: 1 !important;
        }

        &:focus{
          background-color: transparent !important;
          color: white !important;
        }
      }

      textarea {
        height: rem(40);
        padding-top: rem(10);
      }
      
      .frm_submit button.frm_button_submit {
        background-color: $orange;
        border: 0;
        border-radius: rem(25);
        color: white;
        font-size: rem(18);
        padding: 1rem 2rem;
        font-family: $font;
        margin: rem(66) 0 0;
        height: auto;
        box-shadow: none;

        @include mobile {
          width: 100%;
        }

        @include minTablet {
          font-size: 1.2vw;
        }
      }

      .frm_checkbox {
        label {
          position: relative;
          font-size: rem(16);
          font-family: $font;
          text-indent: 0 !important;
          display: flex;
          padding: 0 !important;
          margin-top: rem(20);

          @include minTablet {
            font-size: 1vw;
          }

          span {
            color: white;
            padding-left: rem(30);

            &:after {
              content: "";
              width: rem(20);
              height: rem(20);
              position: absolute;
              border: 1px solid white;
          
              top: 50%;
              left: 0;
              transform: translateY(-50%);
            }
            &:before {
              content: "";
              width: rem(8);
              height: rem(8);
              position: absolute;
              background: white;
              top: 50%;
              left: rem(7);
              transform: translateY(-50%) scale(0);
              transition: all .3s ease-out;
              opacity: 0;
            }
          }
          input[type="checkbox"]:checked+span {
            &:before {
              transform: translateY(-50%) scale(1);
              opacity: 1;
            }
          }
        }

        input[type="checkbox"] {
          @include sr-only;
        }
      }
    }

    .frm_form_field {
      position: relative;

      svg {
        position: absolute;
        top: 50%;
        right: 0;
      }
    }
  }

  &-infos {
    width: calc(18 / 20 * 100%);
    margin-left: calc(1 / 20 * 100%);

    @include minTablet {
      width: calc( 6 / 23 * 100%);
      margin-left: calc(2 / 23 * 100vw);
      order: 1; 
    }

    h2 {
      font-size: rem(26);
      font-family: $fontTitle;
      margin-bottom: 5vh;
      margin-bottom: rem(30);

      @include minMobile {
        font-size: rem(30);
      }
      @include minTablet {
        font-size: 3vw;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: calc(18);
        
        @include minTablet {
          font-size: 1.2vw;
        }

        address {
          font-style: normal;
          margin-bottom: rem(20);
        }

        span {
          border: 1px solid white;
          border-radius: 50%;
          width: rem(30);
          height: rem(30);
          margin-right: rem(10);
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;

          svg {
            width: rem(16);
            height: rem(18);
          }
        }
      }

      a {
        color: white;
        text-decoration: none;
        font-family: $font;
        font-size: rem(20);

        @include minTablet {
          font-size: 1.2vw;
        }
      }
    }
  }
}