
.newsletter #mc_embed_signup .button {
  background-color: #ff4409;
  border: 0;
  border-radius: 1.5625rem;
  color: #fff;
  font-size: 1.125rem;
  padding: .6rem 2rem;
  font-family: "neue_machinalight", sans-serif;
  margin: 4.125rem 0 0;
  height: auto;
  box-shadow: none;
}

#mc_embed_signup .mc-field-group select option {
  color: black;
}