.excellence {
  position: relative;
  padding: 6vw 0 30vh;
  text-align: center;
  overflow: visible;
  background: #ffffff;

  &_bkg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 0;
    overflow: hidden;
    transform: translateY(10vw);

    &:before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 400px;
      z-index: 1;
      background: linear-gradient(180deg, #FFFFFF 40%, rgba(255, 255, 255, 0) 100%);
    }
  
    &:after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 200px;
      z-index: 1;
      transform: scaleY(-1);
      background: linear-gradient(#FFFFFF 40%, rgba(255, 255, 255, 0) 100%);
    }
    .zoom {
      width: 100%;
      height: 100%;
      background-size: 100%;
      background-position: center bottom;
      background-repeat: no-repeat;
    }
  }

  .container {
    position: relative;
    z-index: 2;
  }

  h2 {
    font-size: 44px;
    line-height: rem(70);
    font-weight: 400;
    font-family: $fontTitle;
    margin-bottom: rem(25);
    color: $orange;

    @include minTablet {
      font-size: 4.5vw;
    }
  }

  &_tag {
    text-transform: uppercase;
    letter-spacing: 0.7em;
    margin-bottom: rem(28);
    margin-top: rem(38);
    font-size: rem(14);
    font-family: $font;
    font-weight: 600;
  }

  &_content {
    font-size: rem(15);
    line-height: rem(28);
    font-family: $font;
    font-weight: 400;
    max-width: rem(506);
    margin: 0 auto;
  
    @include minTablet {
      font-size: .8vw;
    }
  }
}