.heritage {
  padding: 12vw 0;
  overflow: hidden;
  background: #ffffff;
  &_grid {
    @include minTablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &_tag {
    color: $orange;
    font-size: 44px;
    line-height: rem(42);
    margin-bottom: rem(0);
    margin-top: 0;
    transform: rotate(-4deg);
    font-weight: 100;

    @include minTablet {
      font-size: 4.5vw;
      line-height: rem(42);
    }
  }
 
  &_content {
    margin: 0 5vw;
    max-width: 90vw;
    text-align: center;

    @include minTablet {
      margin: 0px auto;
      max-width: 24vw;
    }

    h2 {
      font-size: 44px;
      line-height: 1.2;
      margin-bottom: rem(40);
      font-family: $fontTitle;
      font-weight: 500;

      @include minTablet{
        font-size: 4vw;
        line-height: 1;
      }
    }

    .content p{
      font-size: 22px;
      line-height: 1.5;
      font-weight: 400;
      font-family: $fontTitle;
      
      @include minTablet {
        font-size: 1.4vw;
      }
    }
  }

  &_diapo {
    position: relative;
    width: 100%;
    padding-top: 10vw;
    padding-bottom: 8vw;
    height: 440px;

    &_1 {
      position: absolute;
      width: 132px;
      top: 40px;
      left: 30px;
      z-index: 1;
    }

    &_2 {
      position: absolute;
      width: 176px;
      top: 330px;
      left: 0;
      z-index: 2;
    }

    &_3 {
      position: absolute;
      width: 304px;
      top: 160px;
      right: 0;
      z-index: 1;
      transform: translateX(10%);
    }

    &_4 {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: 192px;
      transform: translateX(40%);
    }
    
    @include minTablet {
      &_1 {
        top: 0;
        left: 0;
        transform: translate(-2vw, -4vw);
        width: 15vw;
      }

      &_2 {
        top: 0;
        left: 0;
        transform: translate(3vw, 100%);
        width: 25vw;
      }

      &_3 {
        top: 50%;
        left: 0;
        transform: translate(15vw, -50%);
        width: 36vw;
      }

      &_4 {
        top: 0;
        left: 0;
        transform: translate(26vw, -8vw);
        width: 18vw;
      }
    }
  }
}