.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;
  max-width: 100%;
  overflow: hidden;
  padding: 10vw 0 5vw;
  z-index: 3;

  @include mobile {
    .container {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &_text {
    position: relative;
    z-index: 2;
    font-size: 35px;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: $font;
    color: white;
    margin: 0;
    margin-left: 5vw;
    max-width: 90vw;

    @include minTablet {
      font-size: 4.6vw;
      margin-left: 40vw;
      max-width: 42vw;
      line-height: 1;
    }
  }

  &_bkg {
    width: 540px;
    max-width: none;
    transform: translate(-130px, -50px);

    @include minTablet {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-10vw, -16vw);
      z-index: 0;
      height: auto;
      width: 65vw;
    }
  }
}