.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background: black;
  max-width: 100%;
  overflow: hidden;
  padding: 16vw 0 5vw;
  z-index: 3;

  @include mobile {
    .container {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &_text {
    position: relative;
    z-index: 2;
    font-size: 35px;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: $font;
    color: white;
    margin: 0;
    margin-left: 5vw;
    max-width: 90vw;

    @include minMobile {
      margin-top: 130px;
      font-size: 42px;
      margin-left: 45vw;
      max-width: 55vw;
      line-height: 1;
    }

    @include minTablet {
      margin-top: 0;
      font-size: 4.6vw;
      max-width: 42vw;
    }
  }

  &_bkg {
    width: 540px;
    max-width: none;
    transform: translate(-130px, -50px);

    @include minMobile {
      position: absolute;
      top: 0;
      left: -10vw;
      transform: translate(-10vw, -16vw);
      z-index: 0;
      height: auto;
      width: 80vw;
    }

    @include minTablet {
      width: 65vw;
      left: 0;
    }
  }

  &_line {
    position: absolute;
    top: 55%;
    left: 50px;
    z-index: 1;
    @include mobile {
      display: none;
    }
    @include minTablet {
      top: 65%;
      left: 100px;
    }
    div {
      height: 156px;
      width: 1px;
      background: white;
    }
    span {
      position: absolute;
      bottom: 0;
      display: block;
      width: 2px;
      height: 100%;
      transform-origin: bottom;
      transform: scaleY(0.1);
      background: $orange;
    }
  }
}