.models {
  position: relative;
  overflow:  hidden;
  background: #fff;
  &:after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(200);
    background: black;
    z-index: 0;
  }

  &-slider {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    min-width: 1600px;
    justify-content: center;
    z-index: 1;
  }

  &_rail {
    position: absolute;
    display: flex;
    animation: rail 40s linear infinite;
  }

  &_title {
    color: $orange;
    // font-size: rem(128);
    font-size: 8vw;
    margin: 0;
    font-family: $font;
    font-weight: 400;
    position: relative;
    top: auto;
    left: auto;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 10;
    h2 {
      position: static;
      transform: none;
    }
  }

  &-slide {
    position: relative;
    width: 20vw;
    max-width: rem(400);
    min-width: rem(280);
    height: 30vw;
    max-height: rem(600);
    min-height: rem(400);
    padding: 40px;
    display: flex;
    align-items: flex-end;
    margin: 0 rem(12);
    background: black;
    overflow: hidden;

    &:nth-child(2n) {
      height: 36vw;
      max-height: rem(746);
      min-height: rem(500);
    }

    h3 {
      position: relative;
      z-index: 1;
      color: white;
      font-size: 1.5vw;
      line-height: 1.2;
      margin: 0;
      font-family: $font;
      font-weight: 400;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: 100%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }
  }
}

@keyframes rail {
  from {transform: translateX(0)}
  to {transform: translateX(-75%)}
}