body.page-template-timeline {
  height: 100vh;
  background: black;
}

.back-btn {
  position: fixed;
  top: 1vw;
  right: 1vw;
  z-index: 1;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  border: 2px solid white;
  i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 2px;
    background: white;
  }
  i:first-child {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
  i:last-child {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
}
.page-timeline {
  color: white;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: black;

  @include minTablet {
    width: auto;
    min-width: 100%;
    height: 100%;

    .timeline-grid {
      display: flex;
      flex-wrap: nowrap;
      height: 100vh;
      overflow-y: hidden;
    }
  }

  .timeline-item {
    position: relative;
    margin-bottom: 20vh;

    @include minTablet {
      min-width: 100vw;
      margin-bottom: 0;
      margin-right: 15vw;
    }

    h2 {
      text-transform: uppercase;
      line-height: 1.2;
      font-weight: 300;
      font-size: 32px;

      @include minTablet {
        font-size: 4vw;
      }
    }

    &_content {
      z-index: 10;
      padding: 0px 20px;

      @include minTablet {
        padding: 0;
      }


      p:not(.timeline-item_date) {
        color: white;
        font-size: 15px;
        line-height: 28px;
        font-weight: 400;
        margin-top: 0;
      }
    }

    &_caption {
      position: relative;
      font-size: 11px;
      color: white;
      z-index: 10;
      line-height: 16px;
      padding: 10px;
      width: 50%;
      margin-left: 40px;
      &:before {
        content: none;
      }

      .line {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 150%;
        width: 1px;
        transform: translateY(-10px);
        background: $orange;

        @include minTablet {
          width: 200%;
          height: 1px;
          top: 0;
          bottom: auto;
          transform: translateY(-10px);
        }
      }

      @include minTablet {
        width: 6vw;
        font-size: .8vw;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 90px;
        transform: translateX(-180%);
        padding: 0;
        // line-height: 1.5px;
      }
    }

    &_bkg {
      overflow: visible;
      margin-top: 20px;
      // align-items: center;
      line-height: 0;
      font-size: 0;
      position: relative;
      width: 100%;

      img {
        height: auto;
        width: auto;
      }

      @include minTablet {
        margin-top: 0;
        width: auto;
        display: flex;
      }
      // jus
    }

    &_date {
      color: $orange;
      font-size: 80px;
      font-family: $fontTitle;
      display: flex;

      @include minTablet {
        font-size: 10vw;
      }
    }

    &_diapo {
      height: 100%;
    }

    // TITLE
    &_title {
      margin-top: 20px;
      @include minTablet {
        width: 50vw;
        margin-top: 0;
      }

      h2 {
        font-size: 50px;
        color: white;
        line-height: 1;
        text-align: left;
        padding: 0px 20px;
        letter-spacing: -1px;
        font-family: $fontTitle;

        @include minTablet {
          font-size: 6vw;
          text-align: center;
          padding: 0;
        }
      }
    }
    
    // BY DATE 
    &--first {
      .timeline-item {
        &_bkg {
          margin-top: 0;
          width: 100%;
        }

        &_content {
          margin-top: 20px;
        }
      }

      @include minTablet {
        display: flex;
        align-items: center;
        padding: 5vh 0;

        .timeline-item {
          &_bkg {
            width: auto;
            height: 100%;

            img {
              height: 100%;
              width: auto;
            }
          }
        }
      }
    }

    // 1912 -------------------------
    &[data-date="1912"]{
      @include minTablet {
        .timeline-item {
            &_diapo {
              display: flex;
            }
        
            &_bkg {
              &--1 {
                height: 50vh;
                margin-right: 5vw;
                position: relative;
                top: 10vh;
              }
        
              &--2 {
                height: 40vh;
                position: relative;
                top: 40vh;
              }
            }
        
            &_date {
              position: absolute;
              top: 0;
              left: 0;
              transform: translate(-100%, -45%) translateX(-2vw);
            }
        
            &_content {
              position: absolute;
              top: 60vh;
              left: 15vw;
        
              h2 {
                margin-bottom: 40px;
              }
        
              p {
                @include minTablet {
                  max-width: 20vw;
                }
              }
            }
          }
      }
    }

    // 1920 --------------------------
    &[data-date="1920"]{
      @include minTablet {
        .timeline-item {
          &_diapo {
            display: flex;
            height: 100%;

          }
          
          &_bkg {
            &--1 {
              height: 37vh;
              margin-right: 5vw;
              transform: translateY(46vh);

              .timeline-item_caption {
                bottom: 38px;
              }
            }
        
            &--2 {
              height: 80vh;
              transform: translateY(10vh);

              .timeline-item_caption {
                top: 50px;
                bottom: auto;
                transform: translateX(-130%);
              }
            }
          }

          &_date {
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateY(80%);
          }
        
          &_content {
            position: absolute;
            top: 27vh;
            left: -10vw;
            width: 48vw;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            p {
              max-width: 380px;
            }
          }
        }
      }
    }
    // 1930
    &[data-date="1930"]{
      @include minTablet {
        min-width: none;
        display: flex;
        align-items: flex-start;
        margin-right: 0;

        .timeline-item {
          &_diapo {
            width: 110vw;
            display: flex;
            height: 100%;
          }
          
          &_bkg {
            margin-left: 10vw;
            &--1 {
              position: absolute;
              bottom: 10vh;
              left: 45%;
              transform: translateX(-100%);
              height: 30vh;
              z-index: 1;
            }
        
            &--2 {
              position: relative;
              height: 80vh;
            }
          }

          &_date {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
          }
          
          &_content {
            width: 40vw;
            transform: translateY(10vh);
            display: flex;
            flex-direction: column-reverse;
            
            h2 {
              max-width: 80%;
            }

            p {
              margin-left: auto;
              @include minTablet {
                max-width: 15vw;
              }
            }
          }
        }
      }
    }
    // 1940
    &[data-date="1940"]{
      @include minTablet {
        display: flex;
        align-items: flex-end;
        margin-left: 10vw;
        margin-right: 0;

        .timeline-item {
          &_date {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -60%);
          }

          &_content {
            position: relative;
            z-index: 2;
            width: 450px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            transform: translateY(-10vh);

            h2 {
              margin-bottom: 20px;
              width: 43vw;
              transform: translateX(70%);
            }

            p {
              text-align: right;
            }
          }
          
          &_diapo {
            width: 100vw;
            height: 100%;
            display: flex;
            align-items: flex-end;
            margin-left: 5vw;
          }

          &_bkg {
            &--1 {
              position: absolute;
              top: 0;
              left: 5vw;
              height: 40vh;
              z-index: 1;

              .timeline-item_caption {
                top: 5vh
              }
            }

            &--2 {
              height: 80vh;
              transform: translateY(-5vh);

              img {
                max-width: none;
                max-height: none;
              }

              .timeline-item_caption {
                right: 0;
                left: auto;
                transform: translateX(150%);
                text-align: right;
                .line {
                  right: 0;
                  left: auto;
                }
              }
            }
          }
        }
      }
    }
    // 1950
    &[data-date="1950"]{
      @include minTablet {
        display: flex;
        align-items: flex-start;
        min-width: unset;

        .timeline-item {

          &_content {
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 65vw;
            transform: translateY(5vh);
          }

          &_bkg {
            &--1 {
              position: absolute;
              z-index: 2;
              bottom: 10vh;
              left: 0;
              transform: translateX(-50%);

              img {
                width: auto;
                  height: 30vh;
                  max-width: none;
                  max-height: none;
              }
            }
          
            &--2 {
              img {
                width: auto;
                height: 100vh;
                max-width: none;
                max-height: none;
              }
            }
          }

          &_diapo {
            transform: translateX(-25vw);
          }
        }
      }
    }
    // 1960
    &[data-date="1960"]{
      @include minTablet {
        display: flex;
          flex-direction: column;
          justify-content: space-between;
          min-width: unset;
        
          .timeline-item {
            &_content {
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              max-width: 25vw;
            }
        
            &_date {
              position: absolute;
              top: 0vh;
              left: 0;
              transform: translate(-50%, 40vh)
            }
        
            &_diapo {
              display: flex;
              align-items: flex-end;
            }
        
            &_bkg {
              &--1 {
                img {
                  height: 60vh;
                  width: auto;
                  max-width: none;
                  max-height: none;
                }
              }
        
              &--2 {
                position: absolute;
                top: 50%;
                left: 50vw;
                transform: translate(-5vw, -20vh);
        
                img {
                  width: auto;
                  height: 30vh;
                  max-width: none;
                  max-height: none;
                }
              }
        
              &--3 {
                position: absolute;
                top: 0;
                left: 60%;
                z-index: 4;
                transform: translateY(10px);
        
                img {
                  height: 35vh;
                }
              }
            }
          }
      }
    }
    // 1970
    &[data-date="1970"]{
      @include minTablet {
        display: flex;
        align-items: flex-end;
        min-width: unset;
        margin-left: 25vw;
        
        .timeline-item {
          &_date {
            position: absolute;
            top: 0%;
            left: 0;
          }

          &_content {
            width: calc(30vw + 350px);
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            h2 {
              width: 28vw;
            }

            p {
              width: 350px; 
            }
          }

          &_bkg {
            &--1 {
              position: absolute;
              top: 0;
              left: 0;
              transform: translateX(60%);
              
              z-index: 1;

              img {
                height: 45vh;
              }
            }

            &--2 {
              margin-left: 5vw;

              img {
                height: 100vh;
                width: auto;
                max-width: none;
                max-height: none;
              }
            }
          }
        }
      }
    }
    // 1980
    &[data-date="1980"]{
      @include minTablet {
        display: flex;
        align-items: flex-start;
        min-width: unset;

        .timeline-item {
          &_content {
            position: relative;
            width: 50vw;
            z-index: 2;
            display: flex;
            justify-content: flex-end;

            h2 {
              width: 30vw;
              transform: translate(25%, 5vh);
            }

            p {
              position: absolute;
              top: 0;
              left: 0;
              max-width: 300px;
              transform: translate(83vw, 65vh);
            }
          }

          &_date {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(50vh) translateY(-50%) translateX(50%);
          }
          
          &_bkg {
            &--1 {
              position: absolute;
              bottom: 0;
              left: 0;
              img {
                height: 50vh;
                width: auto;
                max-width: none;
                max-height: none;
              }
            }
        
            &--2 {
              img {
                height: 60vh;
                width: auto;
                max-width: none;
                max-height: none;
              }
            }
          }
        }
      }
    }
    // 1990
    &[data-date="1990"]{
      @include minTablet {
        display: flex;
        align-items: flex-start;
        min-width: unset;

        .timeline-item {
          &_bkg {
            &--1 {
              position: absolute;
              left: 0;
              bottom: 0;

              img {
                height: 55vh;
                width: auto;
                max-width: none;
                max-height: none;
              }
            }
        
            &--2 {
              position: absolute;
              top: 0%;
              left: 47%;
              transform: translateX(-50%);
              z-index: 2;

              img {
                height: 45vh;
                width: auto;
                max-width: none;
                max-height: none;
              }
            }

            &--3 {
              height: 100%;
              display: flex;
              align-items: flex-end;
              margin-left: 5vw;
              img {
                height: 80vh;
                width: auto;
                max-width: none;
                max-height: none;
              }
            }
          }

          &_content {
            display: flex;
            align-items: flex-start;
            width: 85vw;
            margin-top: 15vh;

            h2 {
              max-width: 100%;
              margin: 0px auto;
            }

            p {
              margin-top: 64vh;
              max-width: 400px;
              margin-left: auto;
              margin-right: 0;
            }
          }
        }
      }

      @include minDesktop {
        .timeline-item {
          &_content {
            width: 80vw;
        
            h2 {
			  position: relative;
			  left: 3vw;
              max-width: 90%;
            }
        
            // p {
            //   margin-top: 20vh;
            //   max-width: 400px;
            //   margin-left: auto;
            //   margin-right: 0;
            // }
          }
        }
      }
    }

    // 2000
    &[data-date="2000"]{
      @include minTablet {
        display: flex;
        min-width: unset;
        align-items: flex-start;

        .timeline-item {
          &_content {
            position: relative;
            display: flex;
            flex-direction: column;
            z-index: 10;
            width: 41vw;
        
            h2 {
              margin-bottom: 10vh;
              width: 85%;
            }
        
            p {
              max-width: 380px;
              transform: translateX(58vw) translateX(-50%);
            }
          }
        
          &_date {
            margin-bottom: 10vh;
            transform: translateX(50vw) translateX(-50%);
          }

          &_diapo {
            display: flex;
            align-items: flex-start;
          }

          &_bkg {
              &--1 {
                position: relative;
                z-index: 3;
                img {
                  height: 50vh;
                  width: auto;
                  max-width: none;
                  max-height: none;
                }
              }
          
              &--2 {
                height: 100%;
                display: flex;
                align-items: flex-end;
                transform: translateX(-16vw);

                img {
                  height: 60vh;
                  width: auto;
                  max-width: none;
                  max-height: none;
                }
              }
          }
        }
      }
    }
    // 2010
    &[data-date="2010"]{
      @include minTablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: unset;
        height: 100%;

        .timeline-item {
          &_content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30vh;

            h2 {
              margin-right: 5vw;
              max-width: 28vw;
              transform: translateX(-10vw);
            }

            p {
              max-width: 360px;
              transform: translateX(-10vw);
            }
          }

          &_date {
            position: absolute;
            top: 50vh;
            left: 0;
            transform: translateY(-40%) translateX(-50%); 
          }

          &_diapo {
            display: flex;
            align-items: flex-end;
          }

          &_bkg {
              &--1 {
                position: relative;
                z-index: 1;
                img {
                  height: 65vh;
                  width: auto;
                  max-width: none;
                  max-height: none;
                }
              }
          
              &--2 {
                margin-left: 5vw;

                img {
                  transform: translateY(-40%);
                  height: 50vh;
                  width: auto;
                  max-width: none;
                  max-height: none;
                }
              }
            }
        }
      }
    }
    // 2020
    &[data-date="2020"]{
      @include minTablet {
        min-width: unset;

        .timeline-item {
          &_diapo {
            margin-left: 30vw;
            display: flex;
            align-items: flex-start;
          }

          &_date {
            position: absolute;
            top: 50vh;
            left: 0;
            transform: translate(50%, -25%);
          }

          &_content {
            position: absolute;
            top: 10%;
            left: 0;
            width: 70vw;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
              max-width: 30vw;
            }

            p {
              width: 292px;
              margin-right: 0px;
              margin-left: auto;
            }
          }
          
          &_bkg {
              &--1 {
                img {
                  height: 70vh;
                  width: auto;
                  max-width: none;
                  max-height: none;
                }
              }
          
              &--2 {
                height: 100%;
                display: flex;
                align-items: flex-end;
                transform: translateX(-10vw);
                img {
                  height: 40vh;
                  width: auto;
                  max-width: none;
                  max-height: none;
                }
              }
            }
        }
      }
    }
  }
}