.timeline {
  position: relative;
  overflow: hidden;
  background: black;
  color: white;
  margin: 5vw 0;
  padding: 10vw 0px;
  display: flex;
  align-items: center;
  background-size: 180vw;
  background-position: center bottom;
  background-repeat: no-repeat;
  overflow: hidden;

  @include minTablet {
    background-size: 50vw;
    background-position: center;
  }

  &_bg {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 50px;
    height: 370px;
    opacity: 1;
    padding: 0;
    background: black;
    @include minTablet {
      height: auto;
      top: 0;
      bottom: 0;
      left: 20%;
      right: -3%;
    }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        background: linear-gradient(180deg, #000000 0%, rgba(51, 51, 51, 0) 100%);
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: -15%;
        left: auto;
        bottom: 0;
        z-index: 1;
        width: 70%;
        background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        opacity: 1;
      }

      img {
        width: 100%;
        height: 100%;
      }
      &--shades {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        background: transparent;
        overflow: hidden;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 45%;
          background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        }
        &:after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 30%;
          background: linear-gradient(0deg, #000000 0%, rgba(51, 51, 51, 0) 100%);
        }
      }
  }

  &_bg--zoom {
    height: 100%;
  }

  &_scroll {

    @include minTablet {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
    }

    &_bottom {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      
      @include minTablet {
        width: 50%;
      }
    }
  }

  &_slider {
    width: 60px;
    transform: translateX(95%);

    @include minTablet {
      width: auto;
      transform: translateX(10%);
    }

    img {
      height: 400px;
      width: auto;

      @include minTablet{
        height: 50vh;
      }

      @media (min-width: 1680px) {
        height: 65vh;
      }
    }
  }

  &_text {
    position: relative;

    .line {
      display: none;
      @include minTablet {
        position: absolute;
        top: 0.8vw;
        left: 0;
        width: 3vw;
        height: 1px;
        background: white;
        display: inline-block;
      }
    }
  }

  &_content {
    position: relative;
    z-index: 2;
    padding-top: 40px;
    margin-bottom: 300px;
    @include minTablet {
      padding-top: 0;
      width: 35vw;
      margin-left: 10vw;
      margin-bottom: 0;
    }

    h2{
      color: $orange;
      font-family: $fontTitle;
      font-size: 44px;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 15px;
      margin-left: 5vw;

      @include minTablet {
        font-size: 4vw;
        margin-left: 0;
        margin-bottom: 35px;
      }
    }

    p {
      padding-top: 20px;
      position: relative;
      font-size: 15px;
      line-height: 1.5;
      width: 20vw;
      margin-left: 100px;
      position: relative;
      width: 90vw;
      margin-left: 5vw;

      @include minTablet {
        padding-top: 0;
        width: 31vw;
        margin-bottom: 3vw;
      }

      @include minDesktop {
        width: 20vw;
        font-size: 1vw;
      }

    }
  }

  &_btn {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.1em;
    line-height: 1;
    color: $orange;
    border-radius: 43px;
    border: 1px solid $orange;
    padding: 12px 25px;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 5vw;
    transition: background-color 0.35s ease-out;
    @include minTablet {
      margin-left: 0;
      margin-top: 0;
      padding: 1vw 3vw;
      border-radius: 2vw;
      font-size: 1.2vw;
    }
    &:hover {
      background-color: rgba(255, 68, 9, 0.1);
    }
  }

  &_discover {
    color: $orange;
    width: 112px;
    height: 112px;
    font-size: 14px;
    border-radius: 50%;
    border: 1px solid $orange;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    text-decoration: none;

    @include minTablet {
      font-size: 1.2vw;
      width: 10vw;
      height: 10vw;
    }
    
    &:after {
      content: "";
      
    }
  }
}

.timeline .container {
  position: static;
}