.timeline {
  background: black;
  color: white;
  min-height: 100vh;
  padding: 10vw 0px;
  display: flex;
  align-items: center;
  background-size: 70vw;
  background-position: center;
  background-repeat: no-repeat;

  &_scroll {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &_slider {
    transform: translateX(2vw);
  }

  &_content {
    width: 28vw;
    margin-left: 10vw;

    h2{
      color: $orange;
      font-family: $fontTitle;
      font-size: 4vw;
      line-height: 1.2;
      font-weight: 400;
      margin-bottom: 35px;
    }

    p {
      position: relative;
      font-size: 1vw;
      line-height: 1.5;
      position: relative;
      width: 20vw;
      margin-left: 100px;
      
      &:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 0;
        width: 50px;
        height: 1px;
        background: white;
        transform: translateX(-100%) translateX(-40px);
      }
    }
  }

  &_discover {
    color: $orange;
    font-size: 1.2vw;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: 1px solid $orange;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      content: "";
      
    }
  }
}