.vision {
  position: relative;
  background: black;
  min-height: 100vh;
  color: white;

  h2 {
      position: relative;
      font-size: rem(90);
      line-height: rem(100);
      font-family: $fontTitle;
      margin-left: 50%;
      max-width: rem(360);
      padding-left: rem(40);
      z-index: 2;
      max-width: rem(578);
      margin-right: auto;
      margin-left: 0;
      color: white;
  }
}