.vision {
  position: relative;
  background: transparent;
  color: white;
  padding: 10vw 0 300px;
  z-index: 2;

  @include minTablet {
    padding: 10vw 0 10vw;
    display: flex;
    align-items: center;
  }

  &_text {
    position: relative;
    margin-top: 2vw;

    .line {
      position: absolute;
      top: 0.7vw;
      left: -100px;
      width: rem(58);
      height: 1px;
      background: white;
    }
  }

  h2 {
      position: relative;
      font-size: 44px;
      line-height: 1;
      font-family: $fontTitle;
      max-width: 60vw;
      margin-left: 5vw;
      z-index: 2;
      color: white;
      margin-top: 3vw;
      margin-bottom: 20px;
      font-weight: 300;

      @include minTablet {
        max-width: 22vw;
        font-size: 4.5vw;
        transform: translateX(-8vw);
      }
  }

  p {
	  // margin-top: 0;
    padding-top: 20px;
    margin-top: 2vw;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;;
    position: relative;
    font-size: 15px;
    line-height: 1.5;

    max-width: 90vw;
    margin-left: 5vw;

    @include minTablet {
      margin-left: 0;
      font-size: 1vw;
      max-width: 16vw;
      padding-top: 0;
      width: auto;
    }
  }

  .btn_play {
    bottom: 0;
    left: 50%;
    position: absolute;
    padding: 0;
    background: transparent;
    z-index: 10;
    border: 0;
    transform: translate(-50%, 200px);
    display: flex;
    flex-direction: column;
    align-items: center;

    @include minTablet {
      left: 40vw;
      transform: translate(-50%, 30px) translateX(100px);
    }
    
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // border: 1px solid $orange;
      border-radius: 50%;
    }
    
    &_circle {
      width: rem(108);
      height: rem(108);
      border: 1px solid $orange;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    span {
      font-size: rem(18);
      margin-top: rem(22);
      display: flex;
      font-family: $font;
    }
  }

  .vision_illu1 {
    transform: translateY(50px);
    margin-right: 20px;

    @include minTablet {
      transform: translateY(150px);
      margin-right: 50px;
    }
  }

  &_wrap {
    @include minTablet {

      display: grid;
      grid-template-columns: 60vw 30vw;
    }
  }

  &_diapo {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0px 5vw;

    img {
      width: 100%;
      height: auto;

      @include minTablet {
        width: 20vw;
        // min-width: 348px;
      }
    }
  }

  &_content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include minTablet {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &_illu2 {
    position: relative;
    z-index: 1;
  }
}