.newsletter {
  position: relative;
  padding: rem(100) 0;
  background: black;
  color: white;
  overflow: hidden;

  &_bkg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    
     &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      background: linear-gradient(180deg, #000000 26.56%, rgba(0, 0, 0, 0) 100%);
      transform: rotate(-180deg);
      z-index: 0
    }
    > div {
      width: 100%;
      height: 100%;
      background-color: black;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &_title {
    // 
    margin-bottom: rem(100);
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: $font;
    color: white;
    text-align: center; 

    @include minTablet {
      font-size: 3.5vw;
      max-width: 50vw;
    }
  }

  &_tag {
    font-family: $font;
    font-size: 15px;
    letter-spacing: 0.7em;
    text-transform: uppercase;
    margin-bottom: rem(32);
    text-align: center;
    @include minTablet {
      font-size: .7vw;
    }
  }

  &_form {
    position: relative;
    width: 100%;
    max-width: rem(600);

    input[type="email"],
    input[type="text"] {
      background: transparent;
      border: 0;
      border-bottom: 1px solid white;
      color: white;
      font-family: $font;
      font-size: rem(20);
      line-height: 1;
      height: rem(50);
      width: 100%
    }

    button[type="submit"] {
      position: absolute;
      top: 50%;
      right: 0;
      background: transparent;
      border: 0;
      transform: translateY(-50%);
    }
  }
}