.header {

  &_logo {
    padding: 0;
    height: 100%;
    display: block;
    // align-items: center;
  }

  &_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    // height: 120px;
    padding: 2vh 5vw;
  }

  &_tagline{
    font-size: 3vw;
    transform: translateX(-20px) rotate(3deg);;
    line-height: 1.2;
    font-weight: 400;
    font-family: $fontTag;
    padding-top: 20px; 
    margin: 0;
  }
}