{% block html_head_container %}
	<title>Carrozzeria Bertone | Meet the founders</title>
	<meta name="description" content="Mauro Ricci and Jean-Franck Ricci have decided to bring together all of their experience for the momentous rebirth of the renowned automotive firm, La Carrozzeria Bertone.">
  {% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
<div class="a-cursor" data-cursor>
	<div class="a-cursor__ball" data-cursor-inner></div>
</div>
	<body class="{{body_class}}" data-template="base.twig" data-barba="wrapper">
		{% include '/header.twig' %}
		<div class="curtain" data-curtain></div>
		<div data-main-scroll >
			<div data-barba="container" data-barba-namespace="page">
				{% block content %}
          {% include './block/about.twig' %}
					{% include './block/newsletter.twig' with {id: newsletter_id} %}
				{% endblock %}
				{% block footer %}
					{% include 'footer.twig' %}
					{{ function('wp_footer') }}
				{% endblock %}
			</div>
		</div>
	</body>
</html>