<div id="banner" class="banner">
  <div class="banner_bg" data-banner-wrap data-scroll data-scroll-speed="-3">
{#    <div class="banner_bg--top" data-film-bar></div>#}
    <div class="banner_bg--red" data-banner-bg="red" style="background-image: url({{ site.theme.link }}/public/banner.jpg) "></div>
    <div class="banner_bg--empty" data-banner-bg="empty" style="background-image: url({{ site.theme.link }}/public/banner-empty.jpg) "></div>
{#    <div class="banner_bg--bottom" data-film-bar></div>#}
  </div>
  <div class="container">
    <h1 data-banner-title>
      the
      <span class="font--title" data-text="TIMELESS">TIMELESS </span>
      ICON<br> is reborn
    </h1>
  </div>
</div>