<div id="banner" class="banner" style="background: black url({{site.theme.link }}/public/banner.jpg) no-repeat center;">
  <div class="container">
    <h1>the TIMELESS ICON is reborn</h1>
  </div>
</div>