{% block html_head_container %}

  {% include 'html-header.twig' %}
	<title>Carrozzeria Bertone | I The Timeless Icon is reborn</title>
	<meta name="description" content="Since 1912, the ingenuity and attention to detail of Bertone's artisanal engineers have made it a cornerstone of automotive history. Now under new ownership, it embodies an excitingly modern vision while still maintaining the values upon which its rich and respected history has been built.">
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
<div class="a-cursor" data-cursor>
	<div class="a-cursor__ball" data-cursor-inner></div>
</div>
	<body class="{{body_class}}" data-template="base.twig" data-barba="wrapper">
		{% include '/header.twig' %}
		{% include '/banner.twig' %}
		<div class="curtain" data-curtain></div>
		<div data-main-scroll>
			<div data-barba="container" data-barba-namespace="front">
				{% block content %}
					Sorry, no content
				{% endblock %}
				{% block footer %}
					{% include 'footer.twig' %}
					{{ function('wp_footer') }}
				{% endblock %}
			</div>
		</div>
		<div js-iframe-trailer class="js-iframe-trailer">
			<button type="button" class="btn-close-trailer" js-iframe-trailer-close>
				<span class="sr-only">Close trailer</span>
			</button>
			<iframe src="https://player.vimeo.com/video/769813130" id="vimeo" width="1920px" height="1080px" frameBorder="0" allow="autoplay; fullscreen" allowFullScreen></iframe>
		</div>
	</body>
</html>