{% block html_head_container %}

  {% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
<div class="a-cursor" data-cursor>
	<div class="a-cursor__ball" data-cursor-inner></div>
</div>
	<body class="{{body_class}}" data-template="base.twig">
	{% include '/banner.twig' %}
	{% include '/header.twig' %}
		<div class="curtain" data-curtain></div>
		<div data-main-scroll>
			{% block content %}
				Sorry, no content
			{% endblock %}
			{% block footer %}
				{% include 'footer.twig' %}
				{{ function('wp_footer') }}
			{% endblock %}
		</div>
	</body>
</html>