<footer class="footer">
  <div class="container">
    <div class="footer_top">
      <a href="/">
        <img src="{{ site.theme.link }}/public/logo-footer.svg" alt="Logo Bertone" />
      </a>
    </div>
    <div class="footer_nav">
      <p class="footer_copyright">© BERTONE 2022. All Right Reserved.</p>
      <nav class="footer_menu">
        <ul>
          <li>
            <a href="#">Contact</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>