<footer class="footer">
  <div class="container">
    <div class="footer_top">
      <a href="/" data-reveal-simple="0.55" class="hoverable">
        <img src="{{ site.theme.link }}/public/logo-footer.png" alt="Logo Bertone" />
      </a>
    </div>
    <div class="footer_nav">
      <p class="footer_copyright"><a href="https://atelierdesign.be" target="_blank">Created by AD</a></p>
      <p><a href="mailto:info@bertone.it" class="hoverable">info@bertone.it</a><br>
      <a href="tel:+352 621 192 940" class="hoverable">+352 621 192 940</a></p>
    </div>
  </div>
</footer>