<footer class="footer">
  <div class="container">
    <div class="footer_top">
      <a href="/" data-reveal-simple="0.55" class="hoverable">
        <img src="{{ site.theme.link }}/public/logo-footer.svg" alt="Logo Bertone" />
      </a>
    </div>
    <div class="footer_nav">
      <ul class="footer_socials">
        <li>
          <a href="https://www.instagram.com/bertone.heritage">
            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19 9.5C19 11.4089 19 12.6963 18.9556 13.4065C18.8668 15.1378 18.3785 16.4696 17.4019 17.4019C16.4252 18.3341 15.1379 18.8668 13.4065 18.9556C12.6963 19 11.3645 19 9.5 19C7.59112 19 6.30374 19 5.59346 18.9556C3.86215 18.8668 2.53037 18.3785 1.59813 17.4019C0.665888 16.4696 0.133178 15.1378 0.0443925 13.4065C-4.29975e-08 12.6963 0 11.3645 0 9.5C0 7.63551 -4.29975e-08 6.30374 0.0443925 5.59346C0.133178 3.86215 0.621495 2.53037 1.59813 1.59813C2.53037 0.665888 3.86215 0.133178 5.59346 0.0443925C6.30374 -4.29975e-08 7.63551 0 9.5 0C11.4089 0 12.6963 -4.29975e-08 13.4065 0.0443925C15.1379 0.133178 16.4696 0.621495 17.4019 1.59813C18.3341 2.57477 18.8668 3.86215 18.9556 5.59346C18.9556 6.30374 19 7.59112 19 9.5ZM10.4322 1.68692C9.85514 1.68692 9.54439 1.68692 9.5 1.68692C9.45561 1.68692 9.14486 1.68692 8.56776 1.68692C7.99065 1.68692 7.54673 1.68692 7.28037 1.68692C6.96963 1.68692 6.57009 1.68692 6.08178 1.73131C5.59346 1.73131 5.14953 1.7757 4.79439 1.86449C4.43925 1.90888 4.1285 1.99766 3.90654 2.08645C3.50701 2.26402 3.15187 2.48598 2.79673 2.79673C2.48598 3.10748 2.26402 3.46262 2.08645 3.90654C1.99766 4.1285 1.90888 4.43925 1.86449 4.79439C1.82009 5.14953 1.7757 5.54907 1.73131 6.08178C1.73131 6.57009 1.68692 6.96963 1.68692 7.28037C1.68692 7.59112 1.68692 8.03505 1.68692 8.56776C1.68692 9.14486 1.68692 9.45561 1.68692 9.5C1.68692 9.54439 1.68692 9.85514 1.68692 10.4322C1.68692 11.0093 1.68692 11.4533 1.68692 11.7196C1.68692 12.0304 1.68692 12.4299 1.73131 12.9182C1.73131 13.4065 1.7757 13.8505 1.86449 14.2056C1.95327 14.5607 1.99766 14.8715 2.08645 15.0935C2.26402 15.493 2.48598 15.8481 2.79673 16.2033C3.10748 16.514 3.46262 16.736 3.90654 16.9136C4.1285 17.0023 4.43925 17.0911 4.79439 17.1355C5.14953 17.1799 5.54907 17.2243 6.08178 17.2687C6.61449 17.3131 6.96963 17.3131 7.28037 17.3131C7.59112 17.3131 8.03505 17.3131 8.56776 17.3131C9.14486 17.3131 9.45561 17.3131 9.5 17.3131C9.54439 17.3131 9.85514 17.3131 10.4322 17.3131C11.0093 17.3131 11.4533 17.3131 11.7196 17.3131C12.0304 17.3131 12.4299 17.3131 12.9182 17.2687C13.4065 17.2687 13.8505 17.2243 14.2056 17.1355C14.5607 17.0911 14.8715 17.0023 15.0935 16.9136C15.493 16.736 15.8481 16.514 16.2033 16.2033C16.514 15.8925 16.736 15.5374 16.9136 15.0935C17.0023 14.8715 17.0911 14.5607 17.1355 14.2056C17.1799 13.8505 17.2243 13.4509 17.2687 12.9182C17.2687 12.4299 17.3131 12.0304 17.3131 11.7196C17.3131 11.4089 17.3131 10.965 17.3131 10.4322C17.3131 9.85514 17.3131 9.54439 17.3131 9.5C17.3131 9.45561 17.3131 9.14486 17.3131 8.56776C17.3131 7.99065 17.3131 7.54673 17.3131 7.28037C17.3131 6.96963 17.3131 6.57009 17.2687 6.08178C17.2687 5.59346 17.2243 5.14953 17.1355 4.79439C17.0911 4.43925 17.0023 4.1285 16.9136 3.90654C16.736 3.50701 16.514 3.15187 16.2033 2.79673C15.8925 2.48598 15.5374 2.26402 15.0935 2.08645C14.8715 1.99766 14.5607 1.90888 14.2056 1.86449C13.8505 1.82009 13.4509 1.7757 12.9182 1.73131C12.4299 1.73131 12.0304 1.68692 11.7196 1.68692C11.4533 1.68692 11.0093 1.68692 10.4322 1.68692ZM12.9182 6.03738C13.8505 6.96963 14.3388 8.12383 14.3388 9.5C14.3388 10.8762 13.8505 11.986 12.9182 12.9626C11.986 13.8949 10.8318 14.3832 9.45561 14.3832C8.07944 14.3832 6.96963 13.8949 5.99299 12.9626C5.06075 12.0304 4.57243 10.8762 4.57243 9.5C4.57243 8.12383 5.06075 7.01402 5.99299 6.03738C6.92523 5.10514 8.07944 4.61682 9.45561 4.61682C10.8318 4.61682 11.986 5.06075 12.9182 6.03738ZM11.7196 11.7196C12.3411 11.0981 12.6519 10.3435 12.6519 9.5C12.6519 8.65654 12.3411 7.85748 11.7196 7.23598C11.0981 6.61449 10.3435 6.30374 9.45561 6.30374C8.56776 6.30374 7.81308 6.61449 7.19159 7.23598C6.57009 7.85748 6.25935 8.61215 6.25935 9.5C6.25935 10.3878 6.57009 11.1425 7.19159 11.7196C7.81308 12.3411 8.56776 12.6519 9.45561 12.6519C10.3435 12.6519 11.0981 12.3411 11.7196 11.7196ZM15.3598 3.59579C15.5818 3.81776 15.715 4.08411 15.715 4.39486C15.715 4.70561 15.5818 4.97196 15.3598 5.19393C15.1379 5.41589 14.8715 5.54907 14.5607 5.54907C14.25 5.54907 13.9836 5.41589 13.7617 5.19393C13.5397 4.97196 13.4065 4.70561 13.4065 4.39486C13.4065 4.08411 13.5397 3.81776 13.7617 3.59579C13.9836 3.37383 14.25 3.24065 14.5607 3.24065C14.8715 3.24065 15.1379 3.37383 15.3598 3.59579Z" fill="black"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/bertone">
            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M2.29878 4.09166C1.16626 4.09166 0.250488 3.17433 0.250488 2.04524C0.250488 0.916138 1.16745 0 2.29878 0C3.42772 0 4.34587 0.917328 4.34587 2.04524C4.34587 3.17433 3.42772 4.09166 2.29878 4.09166ZM4.09061 17.0004H0.577561V5.70695H4.09061V17.0004ZM13.7388 16.9985H17.2495V10.8044C17.2495 7.76337 16.5921 5.42426 13.035 5.42426C11.3261 5.42426 10.1805 6.36061 9.71131 7.24818H9.66367V5.70505H6.29352V16.9985H9.8042V11.4112C9.8042 9.93829 10.0852 8.51173 11.9132 8.51173C13.715 8.51173 13.7388 10.1965 13.7388 11.5064V16.9985Z" fill="black"/>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer_copyright"><a href="https://atelierdesign.be" target="_blank">Created by AD</a></p>
{#      <p><a href="mailto:info@bertone.it" class="hoverable">info@bertone.it</a><br>#}
{#      <a href="tel:+352 621 192 940" class="hoverable">+352 621 192 940</a></p>#}
    </div>
  </div>
</footer>