
<header id="header" class="header">
  <div class="container header_wrap">
    <a href="/" class="header_logo">
      <img src="{{ site.theme.link }}/public/logo.svg" alt="Logo Bertone" />
    </a>
    <p class="tag header_tagline">Revival</p>
  </div>
    <div class="corner-left">
      <svg width="65" height="36" viewBox="0 0 65 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 36V2.00001L64.2942 0.875015L64 9.94401L38.5885 9.75002C29.0169 9.75895 19.7863 12.4425 12.6656 17.2864C5.54489 22.1303 1.03491 28.7938 0 36Z" fill="white"/>
      </svg>
    </div>
    <div class="corner-right">
      <svg width="65" height="36" viewBox="0 0 65 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 36V2.00001L64.2942 0.875015L64 9.94401L38.5885 9.75002C29.0169 9.75895 19.7863 12.4425 12.6656 17.2864C5.54489 22.1303 1.03491 28.7938 0 36Z" fill="white"/>
      </svg>
    </div>
</header
