
<header id="header" class="header">
  <div class="container header_wrap">
    <a href="/" class="header_logo">
      <img src="{{ site.theme.link }}/public/logo.svg" alt="Logo Bertone" />
    </a>
    <p class="tag header_tagline">Revival</p>
  </div>
</header
