<header id="header" class="header">
  <div class="container header_wrap">
    <a href="/">
      <img src="{{ site.theme.link }}/public/logo.png" alt="Logo Bertone" />
    </a>
    </p class="tag header_tagline">Revival</p>
  </div>
</header