{% extends "base.twig" %}

{% block content %}
{# First DIV not appear WTF -  #}
	<div class="wrap-black" data-3d-section>
		{% include './block/intro.twig' %}
		{% include './block/story.twig' %}
		{% include './block/vision.twig' %}
	</div>
	{% include './block/heritage.twig' %}
	{% include './block/encart.twig' %}
	{% include './block/excellence.twig' %}
	{% include './block/models.twig' %}
	{% include './block/timeline.twig' with {site: 'site'}%}

	{% include './block/newsletter.twig' with {id: newsletter_id} %}
{% endblock %}