{% extends "base.twig" %}

{% block content %}
{# First DIV not appear WTF -  #}
	<div class="wrap-black" data-3d-section>
		{% include './block/intro.twig' %}
		{% include './block/story.twig' %}
		{% include './block/vision.twig' %}
	</div>
	{% include './block/heritage.twig' %}
	{% include './block/encart.twig' %}
	{% include './block/excellence.twig' %}
	{% include './block/models.twig' %}
	{% include './block/timeline.twig' with {site: 'site'}%}

	{% include './block/newsletter.twig' with {id: newsletter_id} %}
	<div js-iframe-trailer class="js-iframe-trailer">
  <button type="button" class="btn-close-trailer" js-iframe-trailer-close>
    <span class="sr-only">Close trailer</span>
  </button>
  <iframe src="https://player.vimeo.com/video/769813130" id="vimeo" width="1920px" height="1080px" frameBorder="0" allow="autoplay; fullscreen" allowFullScreen></iframe>
</div>
{% endblock %}