// COLOR
$orange: #FF4409;

$mobile: 492px;
$tablet: 768px;
$laptop: 1024px;

$font: 'Neue Machina', sans-serif;
$fontTitle: 'Noctis', serif;
$fontTag: 'true_blueregular';

$col: 23;
$s-col: 11;
$t-col: 17;

$gap: 30px;