@font-face {
    font-family: 'Noctis';
    src: url('Noctis-ThinItalic.woff2') format('woff2'),
        url('Noctis-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noctis Texturae';
    src: url('NoctisTexturae-Thin.woff2') format('woff2'),
        url('NoctisTexturae-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noctis';
    src: url('Noctis-Thin.woff2') format('woff2'),
        url('Noctis-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'neue_machinalight';
    src: url('neuemachina-light-webfont.woff2') format('woff2'),
        url('neuemachina-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'neue_machinaregular';
    src: url('neuemachina-regular-webfont.woff2') format('woff2'),
        url('neuemachina-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'neue_machinaultrabold';
    src: url('neuemachina-ultrabold-webfont.woff2') format('woff2'),
        url('neuemachina-ultrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'true_blueregular';
    src: url('true_blue_2-webfont.woff2') format('woff2'),
        url('true_blue_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}