<div class="encart">
  <div class="container">
    <h2>
      <span class="color--red">Exceptional cars at the pinnacle</span><br/>
      <span class="font--title">of Italian craftsmanship</span>
    </h2>
  </div>
  <img src="{{site.theme.link}}/public/encart.jpg" alt="" class="encart_bkg" />
</div>