<div class="encart">
  <div class="container">
    <h2 data-scroll data-scroll-speed="-0.25" data-line-reveal>
      <span class="color--red">Exceptional cars at the pinnacle</span>
      <span class="font--title">of Italian craftsmanship</span>
    </h2>
  </div>
  <div class="encart_bkg">
    <img src="{{site.theme.link}}/public/topcar.png" alt="" data-scroll data-scroll-speed="-2" />
  </div>
</div>