<div class="encart">
  <div class="container">
    <h2>
      <span class="color--red">Exceptional cars at the pinnacle</span>
      of Italian craftsmanship
    </h2>
  </div>
  <img src="{{site.theme.link}}/public/encart.jpg" alt="" class="encart_bkg" />
</div>