<div class="excellence" style="background-image: url({{ site.theme.link }}/public/excellence.jpg) ">
  <div class="container">
    <img src="{{ site.theme.link}}/public/italian.jpg" alt="italian" />
    <p class="excellence_tag">artistic excellence</p>
    <h2>The Italian way</h2>
    <p class="excellence_content">Bertone's collection of limited-edition models is brought to life from prestigious partnerships with Italy's most talented and highly regarded designers. This unique signature has played a significant role in its remarkable 110-year journey. </p>
  </div>
</div>