<div class="excellence">
  <div class="container">
    <img src="{{ site.theme.link}}/public/italian.jpg" alt="italian" data-reveal-simple />
    <p class="excellence_tag" data-reveal-simple>artistic excellence</p>
    <h2 data-line-reveal>
      <span>The Italian way</span>
    </h2>
    <p class="excellence_content" data-reveal-simple>Bertone's collection of limited-edition models is brought to life from prestigious partnerships with Italy's most talented and highly regarded designers. This unique signature has played a significant role in its remarkable 110-year journey. </p>
  </div>

  <div class="excellence_bkg" data-bg-zoom>
    <div style="background-image: url({{ site.theme.link }}/public/excellence.jpg) " class="zoom"></div>
  </div>
</div>