<div class="excellence">
  <div class="container">
    <img src="{{ site.theme.link}}/public/italian.jpg" alt="italian" data-reveal-simple="0.4" />
    <p class="excellence_tag" data-reveal-simple="0.45">artistic excellence</p>
    <h2 data-line-reveal>
      <span>The Italian way</span>
    </h2>
    <p class="excellence_content" data-fade-up="0.65">
        Bertone continues its DNA-driven legacy of showcasing the pinnacle of Italian design and engineering, a unique signature that has played a significant role in its remarkable 110-year journey.
    </p>
  </div>

  <div class="excellence_bkg" data-bg-zoom>
    <div style="background-image: url({{ site.theme.link }}/public/excellence-min.jpeg) " class="zoom"></div>
  </div>
</div>