<div class="heritage" data-bg-white>
  <div class="container heritage_grid">
    <div class="heritage_content">
       <p class="heritage_tag font--tag" data-reveal-simple="0.4">Imeless<br/>Vision</p>
      <h2 class="color--red" data-line-reveal>
        <span>Staying true to an artistic heritage</span>
      </h2>
      <div class="content" data-fade-up="0.8">
        <p>Genuine automobile enthusiasts have ensured the Bertone body design and aesthetic still remains today. By closely guarding the passing down of its expertise, precision and ultra-specific know-how, its standards are synonymous with those upheld in the world's leading luxury ateliers.</p>
      </div>
    </div>
    <div class="heritage_diapo">
      <div class="heritage_diapo_1">
        <img src="{{site.theme.link}}/public/heritage-1.jpg"  alt="Heritage 1" data-scroll data-scroll-speed="0.45" />
      </div>
      <div class="heritage_diapo_2">
        <img src="{{site.theme.link}}/public/heritage-2.jpg"  alt="Heritage 2" data-scroll data-scroll-speed="1.25" />
      </div>
      <div class="heritage_diapo_3">
        <img src="{{site.theme.link}}/public/heritage-3.jpg"  alt="Heritage 3" data-scroll data-scroll-speed="0.75" />
      </div>
      <div class="heritage_diapo_4">
        <img src="{{site.theme.link}}/public/heritage-4.jpg"  alt="Heritage 4" data-scroll data-scroll-speed="1.5" />
      </div>
    </div>
  </div>
</div>