<div class="heritage">
  <div class="container">
    <p class="heritage_tag font--tag">Imeless Vision</p>
    <h2 class="color--red">Staying true to an artistic heritage </h2>
    <div class="content">
      <p>Genuine automobile enthusiasts have ensured the Bertone body design and aesthetic still remains today. By closely guarding the passing down of its expertise, precision and ultra-specific know-how, its standards are synonymous with those upheld in the world's leading luxury ateliers.</p>
    </div>
  </div>
</div>