<div>
  <div class="intro">
    <div class="container">
      <p class="intro_text">
        <span class="color--red">Bertone begins a new chapter in his rich history of</span>
        crafting exceptional and unique cars
      </p>
      <img src="{{site.theme.link}}/public/intro.jpg" alt="" class="intro_bkg" />
    </div>
  </div>
</div>