<div class="intro">
  <div class="container">
    <p class="intro_text">
      <span class="color--red">Bertone begins a new chapter in his rich history of</span>
      crafting exceptional and unique cars
    </p>
  </div>
</div>