<div>
  <div class="intro">
    <div class="intro_line" data-scroll data-scroll-speed="-2.5">
      <div data-intro-up>
        <span></span>
      </div>
    </div>
    <div class="container">
      <button class="red-btn hoverable js-iframe-trailer-btn" data-scroll data-scroll-speed="2.5" data-intro-btn js-iframe-trailer-btn>
        <svg width="246" height="246" viewBox="0 0 246 246" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g style="mix-blend-mode:screen">
            <circle cx="123" cy="123" r="122.5" stroke="#FF4409" stroke-opacity="0.5" stroke-dasharray="2 2"/>
          </g>
        </svg>
        <span>Discover the trailer</span>
      </button>
      <p class="intro_text" data-scroll data-scroll-speed="0.5" data-intro-text>
        <span class="color--red">Bertone begins a new chapter in his rich history of</span>
        <span class="">crafting exceptional and unique cars</span>
      </p>
      <div class="intro_bkg" data-intro-img>
        <img src="{{site.theme.link}}/public/widecar.png" alt="" data-scroll data-scroll-speed="-1" />
      </div>
    </div>
  </div>
</div>
