<div class="models">
  <h2>Exemplary bertone models</h2>
  <div class="models-slider">
    <div class="models-slide models-slide--small">
      {# <img src="{" alt="Coming soon"> #}
      <h3>Coming soon...</h3>
    </div>
    <div class="models-slide">
      <img src="{{site.theme.link}}/public/maserati.jpg" alt="Coming soon">
      <h3>Maserati Khamsin</h3>
    </div>
    <div class="models-slide models-slide--small">
      <img src="{{site.theme.link}}/public/romeo.jpg" alt="Coming soon">
      <h3>Alfa Roméo Montreal</h3>
    </div>
    <div class="models-slide">
      <img src="{{site.theme.link}}/public/lamborghini.jpg" alt="Coming soon">
      <h3>Lamborghini Espada</h3>
    </div>
  </div>
</div>