<div class="models">
  <div class="models-slider swiper" js-slider>
    <div class="swiper-wrapper">
      <div class="models-slide models-slide--small swiper-slide">
        <h3>Coming soon...</h3>
      </div>
      <div class="models-slide swiper-slide">
        <img src="{{site.theme.link}}/public/maserati.jpg" alt="Coming soon">
        <h3>Maserati Khamsin</h3 js-slider>
      </div>
      <div class="models-slide models-slide--small swiper-slide">
        <img src="{{site.theme.link}}/public/romeo.jpg" alt="Coming soon">
        <h3>Alfa Roméo Montreal</h3 js-slider>
      </div>
      <div class="models-slide swiper-slide">
        <img src="{{site.theme.link}}/public/lamborghini.jpg" alt="Coming soon">
        <h3>Lamborghini Espada</h3>
      </div>
    </div>
  </div>
</div>