<div class="newsletter">
  <div class="container">
    <p class="newsletter_tag">ON THE HORIZON</p>
    <h2 class="newsletter_title" data-line-reveal>
      <span>Be the first to know what's new at Bertone</span>
    </h2>
    <form class="newsletter_form">
      <input type="email" placeholder="Enter your address" />
      <button type="submit">
        <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.0762 7.79144L0.818848 0V2.32169L10.4879 9.66552V10.3345L0.818848 17.6783V20L11.0762 12.2061V7.79144Z" fill="white"/>
        </svg>
      </button>
    </form>
  </div>

  <div class="newsletter_bkg" data-bg-zoom>
    <div style="background-image: url('{{ site.theme.link }}/public/newsletter.jpg')" class="zoom"></div>
  </div>
</div>