<div class="newsletter">
  <div class="container">
    <p class="newsletter_tag" data-reveal-simple>ON THE HORIZON</p>
    <h2 class="newsletter_title" data-line-reveal>
      <span>Be the first to know what's new at Bertone</span>
    </h2>
     {% filter shortcodes %}
          [formidable id={{id}}]
    {% endfilter %}
  </div>

  <div class="newsletter_bkg" data-bg-zoom>
    <div style="background-image: url('{{ site.theme.link }}/public/newsletter.jpeg')" class="zoom"></div>
  </div>
</div>