<div class="newsletter">
  <div class="container">
    <p class="newsletter_tag" data-reveal-simple>ON THE HORIZON</p>
    <h2 class="newsletter_title" data-line-reveal>
      <span>Be the first to know what's new at Bertone</span>
    </h2>
{#     {% filter shortcodes %}#}
{#          [formidable id={{id}}]#}
{#    {% endfilter %}#}
    <!-- Begin Mailchimp Signup Form --><!-- Begin Mailchimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{ clear:left;  width:600px;}
      /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <style type="text/css">
      #mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px;}
      #mergeRow-gdpr {margin-top: 20px;}
      #mergeRow-gdpr fieldset label {font-weight: normal;}
      #mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}
    </style>
    <div id="mc_embed_signup">
      <form id="form_newsletter-form" action="https://wedoo.us21.list-manage.com/subscribe/post?u=298a0a48ff694591e42166664&amp;id=74e869ca00&amp;v_id=10&amp;f_id=0057c4e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <h2>Subscribe</h2>
          <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
          <div class="mc-field-group">
{#            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>#}
{#            </label>#}
            <input type="email" value="" name="EMAIL" placeholder="Email Address*" class="required email" id="mce-EMAIL" required>
{#            <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>#}
          </div>
          <div class="mc-field-group">
{#            <label for="mce-FNAME">First Name </label>#}
            <input type="text" value="" name="FNAME" placeholder="First Name" class="" id="mce-FNAME">
{#            <span id="mce-FNAME-HELPERTEXT" class="helper_text"></span>#}
          </div>
          <div class="mc-field-group">
{#            <label for="mce-LNAME">Last Name </label>#}
            <input type="text" value="" name="LNAME" class="" placeholder="Last Name" id="mce-LNAME">
{#            <span id="mce-LNAME-HELPERTEXT" class="helper_text"></span>#}
          </div>
          <div class="mc-field-group">
{#            <label for="mce-group[94]">Type of Interest </label>#}
            <select name="group[94]" class="REQ_CSS" placeholder="Type of Interest" id="mce-group[94]" *|required|*>
              <option value="">Type of Interest</option>
              <option value="1">Passionate</option>
              <option value="2">Collector</option>
              <option value="4">Journalist</option>

            </select>
{#            <span id="mce-group[94]-HELPERTEXT" class="helper_text"></span>#}
          </div>
          <div class="mc-field-group">
{#            <label for="mce-group[95]">Where are you from </label>#}
            <select name="group[95]" class="REQ_CSS" placeholder="als" id="mce-group[95]" *|required|*>
              <option value="">Where are you from</option>
              <option value="8">Europe</option>
              <option value="16">North America</option>
              <option value="32">South America</option>
              <option value="64">Middle East</option>
              <option value="128">East Asia</option>
              <option value="256">Africa</option>
              <option value="512">Oceania</option>
              <option value="1024">Other countries</option>

            </select>
{#            <span id="mce-group[95]-HELPERTEXT" class="helper_text"></span>#}
          </div>
          <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
            <div class="content__gdpr">
              <label>Marketing Permissions</label>
              <p>Please select all the ways you would like to hear from Bertone .:</p>
              <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
                <label class="checkbox subfield" for="gdpr_175"><input type="checkbox" id="gdpr_175" name="gdpr[175]" value="Y" class="av-checkbox "><span>Email</span> </label>
              </fieldset>
              <p>You can unsubscribe at any time by clicking the link in the footer of our emails. For information about our privacy practices, please visit our website.</p>
            </div>
            <div class="content__gdprLegal">
              <p>We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/terms" target="_blank">Learn more about Mailchimp's privacy practices here.</a></p>
            </div>
          </div>
          <div id="mce-responses" class="clear foot">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_298a0a48ff694591e42166664_74e869ca00" tabindex="-1" value=""></div>
          <div class="optionalParent">
            <div class="clear foot">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button hoverable">
              <p class="brandingLogo"><a href="http://eepurl.com/idhndX" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
            </div>
          </div>
        </div>
      </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($)
      {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->

  </div>

  <div class="newsletter_bkg" data-bg-zoom>
    <div style="background-image: url('{{ site.theme.link }}/public/newsletter.jpeg')" class="zoom"></div>
  </div>
</div>