<div class="story">
  <div class="container">
    <h2 class="story_title" data-scroll data-scroll-speed="0.5">
      <span class="color--red" data-reveal-simple="0.5">A story that spans <br />over</span>
      <span class="font--true" data-reveal-simple="0.55">100 year</span>
      <div class="line" data-line="bottom" data-line-delay="1.2"></div>
    </h2>
    <div class="story_content">
      <p class="story_tag" data-reveal-simple="0.5">Story</p>
      <div class="story_description" data-scroll data-scroll-speed="0.35">
        <p data-line-reveal>Since 1912, the ingenuity and attention to detail of Bertone's artisanal engineers have made it a cornerstone of automotive history. Now under new ownership, it embodies an excitingly modern vision while still maintaining the values upon which its rich and respected history has been built.</p>
      </div>
    </div>
    <div>
      <div class="story_bkg" data-bg-zoom>
        <img alt="" class="zoom" src="{{site.theme.link}}/public/dna-pattern.jpg" />
      </div>
    </div>
  </div>
</div>