<div class="timeline" id="timeline-section">
  <div class="timeline_bg" data-bg-zoom>
    <div style="background-image: url({{site.theme.link}}/public/dna-pattern-min.jpeg);" class="zoom"></div>
  </div>
  <div class="container">
    <div class="timeline_scroll">
      <div class="timeline_content" data-scroll data-scroll-speed="0.75">
        <h2 data-line-reveal>
          A value-driven DNA
        </h2>
        <div class="timeline_text">
          <div class="line" data-line="left" data-line-delay="0.75"></div>
          <p data-fade-up="0.35">
            With exquisite craftsmanship at its core, Bertone’s creations are regarded by many as akin to canonical art. By restricting production to limited quantities, it is able to focus its unique savoir-faire on subtle enhancements, signature details and dynamic technological refinement.
          </p>
        </div>
      </div>
      <div class="timeline_scroll_bottom">
        <a href="{{ site.link }}/timeline" class="timeline_discover letsgoable" data-reveal-simple>
          <p>Discover</p>
        </a>
        <div class="timeline_slider the-image" data-reveal-image>
          <img src="{{site.theme.link}}/public/DNA.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>