<div class="timeline">
  <div class="container">
    <div class="timeline_scroll">
      <div class="timeline_content">
        <h2>A value-driven DNA</h2>
        <p>
          With exquisite craftsmanship at its core, Bertone’s creations are regarded by many as akin to canonical art. By restricting production to limited quantities, it is able to focus its unique savoir-faire on subtle enhancements, signature details and dynamic technological refinement.
        </p>
      </div>
      <div class="timeline_discover">
        <p>Discover</p>
      </div>
      <div class="timeline_slider"></div>
    </div>
  </div>
</div>