<div class="vision">
  <div class="container">
    <div class="vision_wrap">
      <div class="vision_diapo">
        <div class="vision_illu1">
          <img src="{{site.theme.link}}/public/vision-1.jpg" alt="" />
        </div>
        <div class="vision_illu2">
          <img src="{{site.theme.link}}/public/vision-2.jpg" alt="" />
        </div>

        <button type="button" class="vision_btn btn_play">
          <span class="btn_play_circle">
            <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.36499 2.24475V19.2554" stroke="#FF4409" stroke-width="2"/>
              <path d="M3.49243 1L18.9717 9.71277" stroke="#FF4409" stroke-width="2"/>
              <path d="M18.9722 11.7872L3.4929 20.5" stroke="#FF4409" stroke-width="2"/>
            </svg>
          </span>
          <span class="color--red btn_play_label">Play the video</span>
        </button>
      </div>
      <div class="vision_content">
        <h2><span class="font--up font--neue">A vision in the </span><span class="color--red">making</span></h2>
        <p>In 2020, Mauro and Jean-Franck Ricci bought the Bertone brand in order to revive the brand and continue its epic, the approach of these two car enthusiasts is in line with the DNA of Bertone: to revive a legendary Italian brand, placing the creation of a model at the status of a piece of art. </p>
      </div>
    </div>
  </div>
</div>